
.foodland {
  body {
    //background: #d0c8bf;
    background: radial-gradient(#FFFFFF, #d0c8bf) no-repeat;
    min-height: 100%;
    background-attachment: fixed;
    margin: 0;
  }
  .global-container {
    position: relative;
  }

  .foodland-promotion {
    position: relative;
    padding-top: 50px;
    @media #{$xsmall-only} {
      padding: 0 10px;
    }

    .f-corner {
      position: absolute;
      width: 100px;
      left: 0;
      top: 20px;
      z-index: 2;
      @media #{$xsmall-only} {
        display: none;
      }
    }
    .f-bottle {
      margin-top: 40px;
      @media #{$xsmall-only} {
        display: none;
      }
    }
    .f-headline {
      font-family: $brom;
      font-size: 3em;
      vertical-align: top;
      padding-top: 90px;
      line-height: 1em;
      @media #{$small-up} {
        font-size: 4em;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      @media #{$medium-up} {
        font-size: 7em;
      }
      span.heading-inner {
        line-height: 1.5em;
        font-size: 0.6em;
        @media #{$small-up} {
          padding-left: 20px;
          display: inline-block;
          font-size: 0.35em;
        }
      }
      span.sparkling {
        font-family: 'Rouge Script';
        font-size: 1.7em;
        @media #{$small-up} {
          font-size: 2em;
        }
      }
    }

    .f-bbq {

    }
    .f-desc {
      font-size: 20px;
      @media #{$medium-up} {
        margin-top: 50px;
      }
    }
    .pre-terms {
      font-size: 14px;
    }
    .f-logo {
      padding-top: 20px;
      padding-bottom: 20px;
      @media #{$xsmall-only} {
        display: none;
      }
    }
    .f-logo2 {
      @media #{$small-up} {
        display: none;
      }
    }
    .f-desc2 {
      .down-arrow {
        right: 0;
      }
    }

    form#foodland-form {
      margin-bottom: 70px;
      @media #{$xsmall-only} {
        padding: 0;
      }
      .hide-item {
        display: none;
      }
      input {
        margin-bottom: 0;
      }
      .form-item {
        margin-bottom: 1rem;
      }
      label {
        color: $black;
        &:after {
          content: '*';
          color: #F00;
          font-size: 16px;
          visibility: hidden;
        }
        &.req:after {
          visibility: visible;
        }
      }
      .form_fav, .form_sweet {
        min-height: 150px;
        @media #{$medium-up} {
          min-height: 200px;
        }
      }
      .form_agree {
        .row {
          padding: 1em;
        }
        input[type=checkbox] {
          width: 25px;
          height: 25px;
        }
        label {
          margin: 0;
          a {
            color: #e83c57;
          }
        }
      }
      .rec-warning {
        color: #000;
      }
      .fav-option {
        display: block;
        padding-top: 5px;
        input {
          width: 20px;
          height: 20px;
          display: inline-block;
          padding-right: 3px;
          vertical-align: top;
        }
      }
      button {
        border-radius: 5px;
        padding: 10px 25px;
        margin: 10px 0;
        font-family: $droid;
        font-size: 28px;
        background: #e83c57;
        text-transform: uppercase;
        &:hover {
          background: darken(#e83c57, 10%);
        }
      }
    }

  }

  .f-table {
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

}
