
#movers {

  .movers-header {
    background: url('/images/movers/header5.jpg');
    position: relative;
    @media #{$medium-up} {
      height: 100vh;
    }
    .header-content {
      text-align: center;
      padding: 5em 1em 1em 1em;
      @media #{$medium-up} {
        position: absolute;
        transform: translateY(-40%);
        width: 45%;
        top: 35%;
        left: 16%;
        padding: 0;
      }
      @media #{$large-up} {
        top: 28%;
        left: 16%;
        width: 38%;
      }
      @media #{$xlarge-up} {
        top: 24%;
      }
      h1 {
        color: #FFF;
        font-size: 2em;
        text-shadow: 1px 1px 2px #000;
        @media #{$small-up} {
          font-size: 2.5em;
        }
        @media #{$medium-up} {
          font-size: 3.5em;
          line-height: 1em;
        }
      }
      p {
        color: #FFF;
        text-shadow: 1px 1px 2px #000;
        @media #{$small-up} {
          font-size: 1.2em;
        }
        @media #{$medium-up} {
          margin: 2em 0 0 0;
        }
      }
      .down-link:before {
        font-family: 'icomoon';
        font-size: 3em;
        content: '\f107';
        color: #FFF;
        text-shadow: 1px 1px 2px #000;
      }
    }
    .sprite {
      right: 35%;
      left: auto;
    }

  }

  .cocktail-container {
    padding: 0 0 4em 0;
    text-align: center;
    .filters {
      background: #EEE;
      margin-bottom: 1em;
      @media #{$small-up} {
        padding-top: 2em;
      }
      .mobile-filter {
        font-weight: bold;
        display: block;
        font-size: 20px;
        line-height: 3em;
        color: #333;
        &.active {
          color: #999;
        }
        &:before {
          font-family: 'icomoon';
          content: '\ea5b';
          font-size: 18px;
          padding-right: 3px;
        }
        @media #{$small-up} {
          display: none;
        }
      }
      .clear-filter {
        color: #333;
        transition: 0.2s;
        display: none;
        margin-bottom: 1em;
        &:before {
          font-family: 'icomoon';
          content: '\f057';
          padding-right: 4px;
        }
        &:hover {
          color: #666;
        }
      }
      .text-filters {
        margin: 0;
        display: none;
        position: relative;
        @media #{$small-up} {
          margin: 0 0 1em 0;
          display: block;
        }
        li {
          list-style: none;
          display: inline-block;
          margin-right: 1em;
        }
        li.filter-heading {
          display: none;
          @media #{$small-up} {
            display: inline-block;
            margin: 0 1em 0 0;
          }
        }
        li.filter {
          background: #333;
          border-radius: 3px;
          color: #FFF;
          padding: 3px 13px;
          cursor: pointer;
          transition: 0.2s;
          margin: 0 1em 1em 0;
          @media #{$small-up} {
            font-size: 0.8em;
          }
          @media #{$medium-up} {
            margin: 0 1em 0 0;
            font-size: 1em;
          }
          &:hover {
            opacity: 0.6;
          }
          &:focus {
            outline: none;
          }
          &.button-active {
            opacity: 0.6;
          }
        }
      }
      .button-group {
        margin: 0 0 2em 0;
        display: none;
        @media #{$small-up} {
          margin: 0 0 5em 0;
          display: block;
        }
        li {
          list-style: none;
          display: inline-block;
          text-align: center;
          cursor: pointer;
          position: relative;
          margin: 0 0.4em;
          vertical-align: top;
          width: 28%;
          padding: 0;
          background: none;
          color: #000;
          font-size: 0.8em;
          transition: 0.2s;
          @media #{$small-up} {
            width: 73px;
            height: 200px;
          }
          @media #{$medium-up} {
            width: 95px;
            height: 200px;
          }
          &:hover {
            opacity: 0.6;
          }
          &:focus {
            outline: none;
          }
          &.button-active {
            opacity: 0.6;
          }
          .top-list {
            display: block;
            margin-bottom: 1em;
          }
          .bottom-list {
            display: block;
            //position: absolute;
            //bottom: -3.5em;
          }

        }
      }
    }
    .thumbnail-list {
      margin: 0;
      li {
        list-style: none;
        width: 50%;
        display: inline-block;
        margin: 0;
        padding: 0.5em;
        @media #{$small-up} {
          width: 25%;
          padding: 1em;
        }
        a {
          color: #000;
          display: block;
          font-size: 0.8em;
          @media #{$medium-up} {
            line-height: 2em;
            font-size: 1em;
          }
          &:hover {
            opacity: 0.6;
          }
          img {
            display: block;
            padding-bottom: 0.2em;
            @media #{$medium-up} {
              padding: 0;
            }
          }
          .mocktail {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 50px;
            @media #{$medium-up} {
              top: 20px;
              right: 20px;
              width: 70px;
            }
          }
        }
      }
    }
  }

}


#cocktail {
  .cocktail-image-container {
    @media #{$xsmall-only} {
      padding: 0;
    }
    .cocktail-image {
      position: relative;
      @media #{$small-up} {
        margin: 4em 0;
      }
    }
    .cocktail-video {
      @media #{$small-up} {
        margin: 8em 0;
      }
      video {
        max-width: 100%;
      }
    }
  }

  .cocktail-details {
      margin: 1em 0 3em 0;
    @media #{$small-up} {
      margin: 6em 0 0 0;
    }
  }


}
