<footer>
  <div class="black-gradient"></div>

  <section class="footer-section row columns">

    <div class="bottom-footer row">

      <ul class="bottom-links small-12 end columns">
        <li><a href="{{ url('terms-conditions') }}">Terms &amp; Conditions</a></li>
        <li><a href="{{ url('privacy-statement') }}">Privacy Statement</a></li>
      </ul>

      <ul class="social-links xsmall-6 small-3 large-2 columns">
        <li class="facebook-link"><a href="https://www.facebook.com/bickfordandsons" target="_blank">Facebook</a></li>
        <!-- <li class="twitter-link"><a href="https://twitter.com/Bickfords_AU" target="_blank">Twitter</a></li> -->
        <li class="instagram-link"><a href="https://www.instagram.com/bickfordandsons" target="_blank">Instagram</a></li>
        <li class="youtube-link"><a href="https://www.youtube.com/channel/UCUMOhtJjvwug4EJHaYPFRag" target="_blank">Youtube</a></li>
      </ul>

      <a class="sippify-link xsmall-6 small-3 large-2 end columns" target="_blank" href="https://www.sippify.com.au/taxonomy/term/27/field_range/236"><img src="/images/sippify.png" alt="Buy now at Sippify.com.au"></a>

      <p class="address-post left-address xsmall-6 small-3 large-2 columns">Bickford's Australia<br />Head Office<br />162 Cross Keys Road<br />Salisbury South<br />South Australia, 5106</p>

      <p class="address-post xsmall-6 small-3 large-2 columns">PO Box 283<br />Salisbury South DC<br />SA 5106<br />T: (08) 8182 1888<br />E: info@bickfords.net</p>

      <img class="cannon small-4 column end" src="/images/footer-cannon.png">

      <p class="copyright small-12 medium-10 medium-offset-1 large-offset-2 end columns">Copyright &#169; {{ "now"|date("Y") }} Bickford's Australia</p>

    </div>



  </section>

</footer>
