{% extends "layout.twig" %}

{% block meta %}
  <meta property="og:title" content="Foodland Promotion - Bickford and Sons" />
  <meta name="description" content="Purchase any Bickford and Sons’ four-pack and you may win one from four of the most distinguished pizza cooking inventions – the veritable Gasmate Pizza Oven." />
  <meta property="og:description" content="Purchase any Bickford and Sons’ four-pack and you may win one from four of the most distinguished pizza cooking inventions – the veritable Gasmate Pizza Oven." />
  <link href='https://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title "Foodland Promotion - " %}
{% block bodyClass "foodland" %}

{% block content %}

  <div style="position:relative;">
    <div class="black-gradient"></div>
  </div>

  <div class="foodland-promotion row">
    <div class="small-10 small-centered column">


<!--   <br>
  <br>
  <p>Sorry, this competition has ended</p>
  <br>
  <br> -->

<!--
    <img class="f-corner" src="images/foodland-corner.png"> -->
<!--     <div class="small-3 column">
      <img class="f-bottle" src="images/foodland-bottle.png">
      <img class="f-logo" src="images/foodland-logo.png">
    </div> -->


    <p class="f-headline"><span class="xsmall-5 column">W<span class="-size-small">IN</span> </span><span class="xsmall-7 column heading-inner">an absolutely <br>top-notch BBQ. </span><span class="column heading-inner">What a splendid idea.</span></p>

    <div class="small-6 column">
      <img src="/images/foodland-bbq2.png">
    </div>

    <div class="small-6 column">
      <p class="f-desc">Purchase any Bickford and Sons 4 Pack Mixer or Bickford and Sons Sparkling 700ml product, in participating stores, for the chance to win one of three Weber Q's.</p>
    </div>



    <form id="foodland-form" class="small-12 column" method="post" action="/foodland" enctype="multipart/form-data">

      <div class="form_general">
        <small class="form-error"></small>
      </div>

      <div class="form_name form-item small-6 column">
        <label class="req" for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Your Name">
        <small class="form-error"></small>
      </div>
      <div class="form_email form-item small-6 column">
        <label class="req" for="email">Email</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Your@email.com">
        <small class="form-error"></small>
      </div>
      <div class="form_phone form-item small-6 column">
        <label class="req" for="phone">Phone</label>
        <input type="text" id="phone" name="phone" class="form-control" placeholder="Your Phone Number">
        <small class="form-error"></small>
      </div>
      <div class="form_date form-item small-6 column">
        <label class="req" for="date">Date Purchased</label>
        <input type="text" id="date" name="date" class="form-control" placeholder="Your Date Purchased">
        <small class="form-error"></small>
      </div>
      <div class="form_place form-item small-12 column">
        <label class="req" for="place">Which bird appears in the Bickford and Sons label design?</label>
        <input type="text" id="place" name="place" class="form-control" placeholder="Your Answer">
        <small class="form-error"></small>
      </div>

      <div class="form-item small-12 column">
        <label for="image_uploads">Upload an image of your receipt <span class="-color-red">- optional</span></label>
        <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png">
      </div>

      <div class="form_fav form-item small-6 column">
        <label for="type">Which is your favourite flavour?</label>
        <select name="fav">
          <option value="- - -" selected disabled>- - -</option>
          <option value="Red Grape and Hibiscus">Red Grape &amp; Hibiscus</option>
          <option value="Lemon and Lemon Myrtle">Lemon &amp; Lemon Myrtle</option>
          <option value="Pear and Wild Lime">Pear &amp; Wild Lime</option>
          <option value="Apple and Davidson Plum">Apple &amp; Davidson Plum</option>
          <option value="Soda Water">Soda Water</option>
          <option value="Tonic Water">Tonic Water</option>
          <option value="Bitter Lemon">Bitter Lemon</option>
          <option value="Ginger Ale">Ginger Ale</option>
        </select>
        <small class="form-error"></small>
      </div>

      <div class="form_sweet form-item small-6 column">
        <label for="sweet">How would you describe your favourite flavour?</label>
        <div class="fav-option">
          <input type="radio" class="form-control" name="sweet" value="Too Sweet">
          <span class="radio-label">Too Sweet</span>
        </div>
        <div class="fav-option">
          <input type="radio" class="form-control" name="sweet" value="Not Sweet Enough">
          <span class="radio-label">Not Sweet Enough</span>
        </div>
        <div class="fav-option">
          <input type="radio" class="form-control" name="sweet" value="Just Right">
          <span class="radio-label">Just Right</span>
        </div>
        <small class="form-error"></small>
      </div>

      <div class="form_agree form-item small-12 column">
        <div class="row">
          <p class="pre-terms">Terms and conditions apply. Proof of purchase required. Competition closes 11.59pm on 12th December 2017.</p>
          <input type="checkbox" id="agree" name="agree" class="form-control xsmall-2 small-1 column">
          <label class="req xsmall-10 column end" for="agree">I have read and agree to the <a target="_blank" href="Bickford-and-Sons-Foodland-Promo.pdf">terms and conditions</a></label>
        </div>
        <small class="form-error"></small>

        <div class="form_website" style="display:none;">
          <label for="website">Website</label>
          <input type="text" id="website" name="website" class="form-control" placeholder="Enter Your Website URL">
          <small class="form-error"></small>
        </div>

        <p class="rec-warning small-12 column">Remember, you must <b>retain your receipt as proof of purchase</b> to be eligible to win.</p>
        <div class="form_send small-12 column end">
          <button type="submit" id="send" name="send" class="btn btn-default">Submit</button>
        </div>
      </div>

    <!--   <img class="small-6 column" src="images/foodland-range.png"> -->
      <!-- <img class="f-logo2" src="images/foodland-logo.png"> -->


    </form>


    </div>
  </div>

  <!-- <img class="f-table" src="images/foodland-table.jpg"> -->

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}
