{% extends "layout.twig" %}

{% block meta %}
  <meta property="og:title" content="Terms &amp; Conditions - Bickford and Sons" />
  <meta name="description" content="All contents and material on this website are subject to copyright under Australian law and, under international treaties, laws of many other countries.  Unless indicated otherwise, we own the copyright and all rights are reserved." />
  <meta property="og:description" content="All contents and material on this website are subject to copyright under Australian law and, under international treaties, laws of many other countries.  Unless indicated otherwise, we own the copyright and all rights are reserved." />
{% endblock %}

{% block title "Terms & Conditions - " %}
{% block bodyClass "terms-policy" %}

{% block content %}

  <div class="terms-conditions row">

    <h1>Terms and Conditions</h1>
    <p>This site is made available by Bickford’s Australia Pty Ltd and is referred to as “us”, “we” or “our” in these Terms and Conditions. </p>
    <p>Your use of this website is conditional on your acceptance of the Terms and Conditions set out below, including our <a href="{{ url('privacy-statement') }}">Privacy Statement</a>. We reserve the right to alter the Terms and Conditions at anytime at our discretion.</p>

    <p><strong>Copyright</strong></p>
    <p>All contents and material on this website are subject to copyright under Australian law and, under international treaties, laws of many other countries.  Unless indicated otherwise, we own the copyright and all rights are reserved. Except as permitted in these Terms and Conditions, you may not reproduce, transfer, copy, adapt, distribute or store all or part of the contents of this website or incorporate any part of this website into another site without our prior written consent.</p>
    <p>You may store on your computer or print hard copies of material on this website for your personal use only. You must ensure that any material copied for that purpose retains any copyright or other intellectual property notice contained in the original material. You may not alter the material in any way. All other copying, whether electronic or hard, is prohibited.</p>

    <p><strong>Intellectual Property</strong></p>
    <p>We are the owner of and/or authorised user of all registered and unregistered trade marks, patents, copyrights and other intellectual property appearing on this website unless indicated otherwise.  Your access to or use of this site does not constitute or create a licence or any other right to that intellectual property.</p>

    <p><strong>Third Parties</strong></p>
    <p>We do not endorse in any way the contents or materials contained on websites that may be linked to our site. You acknowledge and agree that we assume no responsibility or liability for the goods or services or the websites of third parties which may be accessed or displayed through this site.</p>

    <p><strong>No Warranties </strong></p>
    <p>This website is provided on an “as is” basis. We and our directors, employees and agents disclaim, to the fullest extent permitted at law, all express and implied warranties in relation to the accuracy or reliability of the contents of this site. We do not warrant that this website will be free from viruses.  Although we take reasonable steps to secure the site, you acknowledge that we make no warranty (express or implied) that any information you post on or transfer through this site will be free from unauthorised access. If you are dissatisfied with your access to this site, your sole remedy is to depart the site.</p>

    <p><strong>No Liability </strong></p>
    <p>To the fullest extent permitted by law, we and our directors, employees and agents, disclaim all responsibility or liability arising in any way (including from negligence) suffered by you as a result of your use of this site or from any computer virus transmitted through this site.</p>

    <p><strong>Accuracy of Information</strong></p>
    <p>You acknowledge that information current at the time of placement on this site does not mean that more recent information does not exist or is not available, or that circumstances have not changed. It is your responsibility to verify the information contained on this website with independent authorities or to seek professional advice before relying on it. Substantial delays may occur before certain information is updated on this website.</p>

    <p><strong>Information/Materials provided by you</strong></p>
    <p>In the course of your use of this website you may provide personal information. Our policies for the collection and use of that personal information are set out in our <a href="{{ url('privacy-statement') }}">Privacy Statement</a>.</p>
    <p>Any other information or materials submitted by you and which have not been specifically requested by us (whether they be ideas, concepts or techniques) (“Information”) will be deemed to be non-confidential and you agree that we may reproduce, use, disclose, transmit and publish the Information without limitation and without any payment of acknowledgement of you as the source. You warrant that the Information is available for such use by us and you agree to indemnify us if any third party should take action against us in relation to the Information you provide.</p>

    <p><strong>Indemnity</strong></p>
    <p>You agree that you will indemnify us against any loss, damage or cost incurred by us or arising out of your use of this website, including but not limited to information obtained from sites linked to ours, your transmission of information on or through our site or your violation of these Terms and Conditions or any other laws, regulations or rules.</p>

    <p><strong>Access</strong></p>
    <p>We reserve the right to revise the content of, amend links from or withdraw your access to this website at anytime without notice.</p>

    <p><strong>Governing Law</strong></p>
    <p>The laws of South Australia govern your use and access of this site and you submit to the jurisdiction of the courts of South Australia in relation to your use of this site.</p>
    <p>© Bickford’s Australia Pty Ltd. 2015</p>

  </div>

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}
