
@font-face {
    font-family: 'droid';
    src: url('fonts/droidserif-italic-webfont.eot');
    src: url('fonts/droidserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droidserif-italic-webfont.woff2') format('woff2'),
         url('fonts/droidserif-italic-webfont.woff') format('woff'),
         url('fonts/droidserif-italic-webfont.ttf') format('truetype'),
         url('fonts/droidserif-italic-webfont.svg#droid') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brom';
    src: url('fonts/bromwichalternate-webfont.eot');
    src: url('fonts/bromwichalternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bromwichalternate-webfont.woff2') format('woff2'),
         url('fonts/bromwichalternate-webfont.woff') format('woff'),
         url('fonts/bromwichalternate-webfont.ttf') format('truetype'),
         url('fonts/bromwichalternate-webfont.svg#brom') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?8dveh0');
    src:url('fonts/icomoon.eot?#iefix8dveh0') format('embedded-opentype'),
        url('fonts/icomoon.ttf?8dveh0') format('truetype'),
        url('fonts/icomoon.woff?8dveh0') format('woff'),
        url('fonts/icomoon.svg?8dveh0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
